<div class="card-header d-flex justify-content-between">
  <h6 class="text-primary text-uppercase px-4 pt-3">
    <span class="vertical-align-middle">{{ "setting.udf.group_details" | translate }}</span>
  </h6>
  <div class="px-3">
    <hr class="hr" />
  </div>
</div>

<div aria-labelledby="headingOne" data-parent="#accordionExample">
  <div *ngIf="!isOfflineModeEnabled()" class="card-body">
    <div class="col-xl-12 d-flex justify-content-end pt-3">
      <button class="btn-shadow d-inline-flex align-items-center btn btn-primary" type="button" (click)="addUdf()">
        <fa-icon class="mx-2" [icon]="library.getIconDefinition('fas', 'plus')"></fa-icon>
        {{'button.add' | translate}}
      </button>
    </div>
  </div>
  <div *ngFor="let udfGroup of udfForm.get('udfGroups')?.controls; let j = index">
    <hr class="solid">
    <div class="position-relative form-group">
      <label>{{ 'udf.udf_group' | translate }}</label>
      <div class="row no-gutters">
        <div class="col-xl-6">
          <select class="form-control" [formControl]="udfGroup.controls.udfGroup"
            (change)="getUdfFiledList(j, false, null)">
            <option *ngFor="let udfGroup of udfGroups" [value]="udfGroup.id">
              {{ udfGroup.description }}
            </option>
          </select>
        </div>
        <div class="col-xl-1 px-3">
          <button class="btn btn-danger" (click)="deleteGroupe(j)" *ngIf="!listUDFGroups[j].mandatory">
            <i class="pe-7s-trash btn-icon-wrapper text-white"></i>
          </button>
        </div>
        <div class="col-xl-2 mt-1">
          <input class="form-check-input" type="checkbox" [formControl]="udfGroup.controls.udfGroupMandatory"  >
          <label class="custom-control-label ms-2">{{ 'udf.default-display' | translate}} </label>
        </div>
        <div class="col-xl-2 mt-1">
          <input class="form-check-input" type="checkbox" [formControl]="udfGroup.controls.displayInIB"  >
          <label class="custom-control-label ms-2">{{ 'udf.display_in_ib' | translate}} </label>
        </div>
      </div>
    </div>

    <div *ngIf="udfGroup?.controls?.udfFields?.controls.length > 0">
      <div class="table-responsive mt-2">
        <table class="mb-0 table green">
          <thead>
            <tr>
              <th>{{ 'udf.udf_filed' | translate }}</th>
              <th>{{ 'udf.mandatory' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let field of udfGroup?.controls?.udfFields?.controls; let i = index">
              <td>{{field?.controls?.description?.value}}</td>
              <td>
                <bSwitch [switch-size]="'mini'" [switch-handle-width]="40" [switch-animate]="true"
                  [formControl]="field?.controls?.mandatory" [switch-off-color]="'danger'" class="px-2 mb-0">
                </bSwitch>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
