<app-page-title [heading]=" 'prospection.prospection_file'| translate " [icon]="'pe-7s-note2'"
  [account]="loan.accountNumber" [collectionStatut]="collection.status">
</app-page-title>
<div class="row">
  <div class="col-md-9 col-xl-9 px-1">
    <!-- <div class="mb-1 card">
      <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize fw-normal">
          <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
        </div>
      </div>
      <div class="g-0 row">
        <div class="col-sm-6 col-md-4 col-xl-4">
          <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
            <div class="icon-wrapper rounded-circle">
              <div class="icon-wrapper-bg opacity-10 bg-primary"></div>
              <i class="lnr-clock text-white opacity-8"></i>
            </div>
            <div class="widget-chart-content">
              <div class="widget-subheading">{{'collections.collection-dashboard.lateDays'|translate}}</div>
              <div class="widget-numbers">{{collection.lateDays}} {{'collections.collection-dashboard.days'|translate}}
              </div>
            </div>
          </div>
          <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4">
          <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
            <div class="icon-wrapper rounded-circle">
              <div class="icon-wrapper-bg opacity-9 bg-warning"></div>
              <i class="lnr-list text-white"></i>
            </div>
            <div class="widget-chart-content">
              <div class="widget-subheading">{{'collections.collection-dashboard.nb_unpaid_installment'|translate}}
              </div>
              <div class="widget-numbers"><span>{{collection.numberOfUnpaidInstallment}}
                  {{'collections.collection-dashboard.installment'|translate}}</span></div>
            </div>
          </div>
          <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4">
          <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
            <div class="icon-wrapper rounded-circle">
              <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
              <i class="pe-7s-credit text-white"></i>
            </div>
            <div class="widget-chart-content">
              <div class="widget-subheading">{{'collections.collection-dashboard.unpaid_amount'|translate}}</div>
              <div class="widget-numbers"><span>{{collection.unpaidAmount| number : this.decimalPlaces:'fr'}}
                  {{collection.currencySymbol}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <app-customer [expanded]="true" [collection]="'inCollection'"></app-customer>
    <!-- <app-loan-info [expanded]="true"></app-loan-info> -->
    <!-- <app-loan-provider-article [mode]="view"> </app-loan-provider-article> -->
    <app-customer-account-360 [expanded]="false" [fromCustomer360] = "false"></app-customer-account-360>
    <!-- <app-loan-guarantors [expanded]="false"></app-loan-guarantors> -->
    <!-- <app-list-documents [expanded]="true"></app-list-documents> -->
    <!-- <app-screening [expandedCustomerScreening]="false" [expandedGuanatorsScreening]="false" [loanApproval]="true">
    </app-screening>
    <app-legal-participants [expanded]="true" [collectionId]="collection.id" [saveParticipants]="saveParticipants"
      (completeAction)="actionCompleted($event)" [originSource]="originSource"></app-legal-participants>
      <app-third-party-hitsory></app-third-party-hitsory> -->
    <!-- <app-customer-notes [expanded]="false"></app-customer-notes> -->
    <!-- <app-customer-collection-history [activeCollection]="collection.id" -->
      <!-- [expanded]="true"></app-customer-collection-history> -->
    <!-- <app-collections-documents [category]="categoryCollection" [idParentCollection]="collection.idParentCollection"
      [expanded]="false"></app-collections-documents> -->
    <!-- <app-collection-note [category]="categoryCollection" [showAddButton]="false" [expanded]="false"
      [collectionId]="collection.idParentCollection"></app-collection-note> -->
    <app-collections-documents [category]="categoryLegal" [expanded]="false"></app-collections-documents>
    
    <app-setting-collection-validation *ngIf="!completeButtonDisabled" [expanded]="true"
      [saveFilesAction]="saveFilesAction" (completeAction)="actionCompleted($event)"
      [originSource]="originSource"></app-setting-collection-validation> 
    <app-collection-note [category]="categoryLegal" [showAddButton]="true" [expanded]="true"
      [collectionId]="collection.id"></app-collection-note>
    <app-event-table [expanded]="false" [source]="'PROSPECTION'"></app-event-table>
    <!-- <app-charge-fee-step [expanded]="true" [source]="'LEGAL'"></app-charge-fee-step> -->
    <app-udf-step-workflow [source]="'workflow'" [category]="'COLLECTION'"></app-udf-step-workflow>
  </div>
  <div class="col-md-3 col-xl-3 px-1">
    <app-collection-process [type]="'PROSPECTION'" ></app-collection-process>
  </div>

</div>
<div class="row">
  <div class="col-xl-9 col-md-9 pr-0 mt-2">
    <div class="d-block text-end card-footer p-2">
      <button class="mx-2 btn btn-outline-danger" (click)="exit()">
        {{'button.exit' | translate}}
      </button>
      <button [disabled]="completeButtonDisabled" class="mx-2 mx-2 btn btn-primary" (click)="save()">
        {{'button.save'| translate }}
      </button>
      <button [disabled]="completeButtonDisabled" class="mx-2 mx-2 btn btn-success" (click)="actionCompleted()">
        {{'button.complete'| translate }}
      </button>
      <button [disabled]="completeButtonDisabled" class="mx-2 mx-2 btn btn-success" (click)="closeFile()">
        {{'button.Close_file'| translate }}
      </button>
    </div>
  </div>
</div>
