<ng-template #content1 let-c="close" let-d="dismiss">
  <div dir="{{getDirection()}}" [ngClass]="{'text-end': translate.currentLang === 'ar'}">
    <form class="form col-xl-12 col-md-12 px-0" [formGroup]="rejectForm" (ngSubmit)="onSubmit()">
      <div class="modal-header py-2">
        <h4 class="modal-title">{{'reject.reject_loan'| translate }}</h4>
        <button type="button" class="close ACM-modal-header-{{translate.currentLang}}" aria-label="Close"
          (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row no-gutters">
        <div class="position-relative form-group col-xl-12 col-md-12">
          <label>{{'reject.reject_reason'| translate }}</label>
          <div class="input-group">
            <select class="form-control" formControlName="reason">
              <option selected value> </option>
              <option *ngFor="let settingMotifRejetsEntity of settingMotifRejetsEntitys"
                [ngValue]="settingMotifRejetsEntity">
                {{settingMotifRejetsEntity.libelle}}
              </option>
            </select>
          </div>
        </div>
        <div class="position-relative form-group col-xl-12 col-md-12">
          <label> {{'reject.note'| translate }} </label>
          <div class="input-group">
            <textarea class="form-control" formControlName="note"></textarea>
          </div>
        </div>
        <div class="position-relative form-group">
          <div>
            <div class="custom-checkbox custom-control">
              <input class="custom-control-input" id="exampleCustomCheckbox" type="checkbox" formControlName="confirm"
                (change)="changeChecbox($event)">
              <label class="custom-control-label ms-2"
                for="exampleCustomCheckbox">{{'button.confirm_checkbox' | translate}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer py-1">
        <button type="reset" class="btn btn-outline-danger"
          (click)="c('Close click')">{{'button.close' | translate}}</button>
        <button type="submit" class="btn btn-danger">{{'button.reject' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>
<app-page-title [heading]=" 'sidebar.loan_application'| translate " [icon]="'pe-7s-note2'"
  [account]="loan.accountNumber" [status]="loan.statutWorkflow" [loanApplicationStatus]="loan?.loanApplicationStatus"></app-page-title>
<div class="row">
  <div class="col-md-9 col-xl-9 px-1">
    <app-customer [expanded]="true"></app-customer>
    <app-customer-members [expanded]="true"></app-customer-members>
    <app-loan-info [expanded]="true"></app-loan-info>
    <app-loan-provider-article [mode]="view" [supplier]="loan.productDTO.supplier"> </app-loan-provider-article>
    <app-schedule [expanded]="false"></app-schedule>
    <app-customer-account [expanded]="true" [fromCustomer360] = "false"></app-customer-account>
    <app-customer-notes *ngIf="!isOfflineModeEnabled()" [expanded]="true"></app-customer-notes>
    <app-event-table *ngIf="!isOfflineModeEnabled()" [expanded]="true" [source]="'LOAN'"></app-event-table>
    <app-conditional-approve-list *ngIf="loan.etapeWorkflow > 23 || !isOfflineModeEnabled()" [expanded]="true"></app-conditional-approve-list>
     <div class="d-block text-end px-2">
      <button class="mb-2 mx-2 btn btn-outline-danger" (click)="exit()">{{'button.exit' | translate}}</button>

      <button class="mb-2 mx-2 btn btn-danger" (click)="rejectModal(content1)" [disabled]="orderProcess !== 1"
        *ngIf="loan.parentId === 0 && !loanSharedService.habilitationButton('REJECT',currentPath) && loan.isOwnerOrValidator">{{'button.reject' | translate}}</button>

      <button class="mb-2 btn btn-primary"
        *ngIf="loan.parentId === 0 && !loanSharedService.habilitationButton('NEXT',currentPath) && loan.isOwnerOrValidator"
        (click)="nextStep()">{{'button.next' | translate}}</button>
    </div>
  </div>
  <div class="col-md-3 col-xl-3 px-1">
    <app-loan-process [etapeProcess]="currentStatus"></app-loan-process>
  </div>
</div>
