<div class="card">
    <div class="card-header">
        {{'setting.currency-setting.currency-setting'| translate }}
    </div>
    <div class="card-body">
        <div class="col-lg-6 position-relative pb-4">
            <div class="d-flex align-items-center">
                <label class="p-2">{{ 'setting.currency-setting.currency' | translate }}</label>
                <select class="form-control form-group" [(ngModel)]="currencyId">
                    <option *ngFor="let currency of currencyList" [value]="currency.id">
                        {{ currency.symbol }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-footer" *ngIf="isEditMode">
        <div class="btn-actions-pane-right ACM-header-right-{{translate.currentLang}}">
            <button type="submit" class=" btn btn-primary text-white" (click)="save()">
                {{'button.save' | translate}}
            </button>
        </div>
    </div>
</div>