<app-page-title *ngIf="type === 'COLLECTION'" [heading]="'sidebar.collections' | translate " [icon]="'lnr-history'"
  [account]="''" [status]="0"></app-page-title>
<div *ngIf="type === 'COLLECTION'" class="row mr-30">
  <div class="col-xl-12">
    <mat-tab-group class="page-mat-tabs" (selectedTabChange)="changeTabs($event)">

      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght text-info fa fa-hourglass-start icon-size-fa ng-star-inserted"></span>
            <span class="size-text">{{ 'collection.tab.amicably' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="0"
          statutWorkflow="amicably" [products]="products" [branches]="branches" [statusList]="statusList"
          [collectionType]="type">
        </app-table-collection>
      </mat-tab>
      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght text-info fa fa-hourglass-start icon-size-fa ng-star-inserted"></span>
            <span class="size-text">{{ 'collection.tab.pre-litigation' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="0"
          statutWorkflow="pre-litigation" [products]="products" [branches]="branches" [statusList]="statusList"
          [collectionType]="type">
        </app-table-collection>
      </mat-tab>
      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght text-warning fa fa-check-square-o icon-size-fa"></span>
            <span class="size-text">{{ 'dashboard.review' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="2" statutWorkflow="review" [products]="products" [branches]="branches" [statusList]="statusList" [collectionType]="type">
        </app-table-collection>
      </mat-tab>
      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght text-success fa fa-check-circle icon-size-fa ng-star-inserted"></span>
            <span class="size-text">{{ 'collections.collection-dashboard.closed' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="-1"
          [products]="products" [branches]="branches" [statusList]="statusList" [collectionType]="type">
        </app-table-collection>
      </mat-tab>
      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght fa fa-gavel icon-size-fa ng-star-inserted"></span>
            <span class="size-text">{{ 'collections.collection-dashboard.completed' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="1"
          [products]="products" [branches]="branches" [statusList]="statusList" [collectionType]="type">
        </app-table-collection>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>

<!-- Legal Collection-->
<app-page-title *ngIf="type === 'LEGAL'" [heading]="'sidebar.legal_collections' | translate " [icon]="'lnr-history'"
  [account]="''" [status]="0"></app-page-title>
<div *ngIf="type === 'LEGAL'" class="row mr-30">
  <div class="col-xl-12">
    <mat-tab-group class="page-mat-tabs" (selectedTabChange)="changeTabs($event)">

      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght text-info fa fa-hourglass-start icon-size-fa ng-star-inserted"></span>
            <span class="size-text">{{ 'collections.collection-dashboard.active' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="0"
          [products]="products" [branches]="branches" [statusList]="statusList" [collectionType]="type">
        </app-table-collection>
      </mat-tab>

      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght text-warning fa fa-check-square-o icon-size-fa"></span>
            <span class="size-text">{{ 'dashboard.review' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="1" statutWorkflow="review" [products]="products" [branches]="branches" [statusList]="statusList" [collectionType]="type">
        </app-table-collection>
      </mat-tab>
      <mat-tab class="col-xl-2">
        <ng-template matTabLabel>
          <div class="col-xl-2">
            <span class="loans-lenght text-success fa fa-check-circle icon-size-fa ng-star-inserted"></span>
            <span class="size-text">{{ 'collections.collection-dashboard.closed' | translate }}</span>
          </div>
        </ng-template>
        <app-table-collection [collectionPaginationEntity]="collectionPaginationEntity" [statusTab]="-1"
          [products]="products" [branches]="branches" [statusList]="statusList" [collectionType]="type">
        </app-table-collection>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
