<div class="card">
  <div class="p-3 d-flex justify-content-end">
    <button class="btn-icon btn btn-success" (click)="addStep('LEGAL')">
      <fa-icon class="mx-2" [icon]="library.getIconDefinition('fas', 'plus')"></fa-icon>
      {{ "add_new_step" | translate }}
    </button>
    <button class="btn-icon btn btn-warning" style="margin-left: 18px;" (click)="duplicateStep(content,'LEGAL')">
      <i class="pe-7s-photo-gallery btn-icon-wrapper"></i>
      {{ 'setting.setting_configuration_product.duplicate' | translate }}
    </button>
  </div>
  <div class="card-body">
    <div cdkDropList class="example-list-without-overflow" (cdkDropListDropped)="drop($event, 'LEGAL')">
      <h6 class="text-danger p-4 m-0" *ngIf="collectionLegalSteps.length === 0">
        {{'setting.setting_level.no_level_process_for_this_product'|translate}}
      </h6>

      <div class="example-box" *ngFor="let collectionLegalStep of collectionLegalSteps; let i = index" cdkDrag>
        <div class="card col-12">
          <div class="card-header" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="px-3">
              <p class="text-primary m-0">{{ "step" | translate }} {{ i + 1 }}</p>
            </div>
            <div class="col-9 row px-3">
              <input type="text" [ngClass]="{
                    'form-control': true,
                    'input-error': !collectionLegalStep.stepName
                  }" required [(ngModel)]="collectionLegalStep.stepName" />
            </div>
            <span class="text-danger"> * </span>
            <div class="mx-auto row">

              <div class="col-5">
                <button class="btn-icon btn-icon-only btn-outline-2x btn btn-outline-danger" (click)="deleteStep(i)">
                  <i class="lnr-trash btn-icon-wrapper"></i>
                </button>
              </div>
            </div>
            <div class="mx-auto" (click)="toggleCollapse(i, 'LEGAL')">
              <i [ngClass]="
                    collectionLegalExpands[i] === true
                      ? 'lnr-chevron-up text-secondary'
                      : 'lnr-chevron-down text-secondary'
                  "></i>
            </div>
          </div>
          <div [ngClass]="
                collectionLegalExpands[i] === true
                  ? 'collapse show'
                  : 'collapse'
              " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body row">
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{ "step_assgin" | translate }}:</label>
                <span class="text-danger"> * </span>
                <select [ngClass]="{
                    'form-control': true,
                    'input-error': !collectionLegalStep.stepType
                  }" [(ngModel)]="collectionLegalStep.stepType" (change)="stepTypeChanged('LEGAL',i)" >
                  <option [ngValue]="'group'">Assign to Group</option>
                  <option [ngValue]="'link'">Assign to User</option>
                </select>
              </div>

              <div class="position-relative form-group col-4 col-md-4 py-2"
                *ngIf="collectionLegalStep.stepType === 'group'">
                <label>{{ "group_users" | translate }}:</label>
                <span class="text-danger"> * </span>
                <select [ngClass]="{
                    'form-control': true,
                    'input-error': !collectionLegalStep.groupSetting
                  }" [(ngModel)]="collectionLegalStep.groupSetting" [compareWith]="compareGroup">
                  <option *ngFor="let groupEntity of groupEntities" [ngValue]="groupEntity">
                    {{ groupEntity.libelle }}
                  </option>
                </select>
              </div>
              <div class="position-relative form-group col-4 col-md-4 py-2"
                *ngIf="collectionLegalStep.stepType === 'link'">
                <label>{{ "user-step-link" | translate }}:</label>
                <span class="text-danger"> * </span>
                <select required [ngClass]="{
                    'form-control': true,
                    'input-error': !collectionLegalStep.previousStep
                  }" [(ngModel)]="collectionLegalStep.previousStep">
                  <option *ngFor="let userLink of userLinks" [value]="userLink.linkValue"
                  [disabled]="collectionLegalStep.order===0 && (userLink.linkValue==-1 || userLink.linkValue==-2)"
                  [ngClass]="{ 'disabled-option': collectionLegalStep.order === 0 && (userLink.linkValue === -1 || userLink.linkValue === -2) }">
                    {{ userLink.LinkName }}
                  </option>
                  <option *ngFor="
                        let previousStep of previousSteps(
                          collectionLegalSteps,
                          i
                        )
                      " [value]="previousStep.order">
                    {{ previousStep.stepName }}
                  </option>
                </select>
              </div>
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{ "screen_steps" | translate }}:</label>
                <span class="text-danger"> * </span>
                <select [ngClass]="{
                    'form-control': true,
                    'input-error': !collectionLegalStep.screen
                  }" [(ngModel)]="collectionLegalStep.screen">
                  <option *ngFor="let root of ihmRoot" [value]="root.ihmRoute">
                    {{ root.description }}
                  </option>
                </select>
              </div>
              <!--
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{ "step_tab" | translate }}:</label>

                <select class="form-control text-s" [(ngModel)]="collectionLegalStep.codeStatutLoan">
                  <option *ngFor="let tap of stepTap" [value]="tap.tapValue">
                    {{ tap.tapName }}
                  </option>
                </select>
              </div>
            -->
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{
                  "collections.collection-dashboard.start_Date"
                  | translate
                  }}:</label>
                <span class="text-danger"> * </span>
                <input type="number" [ngClass]="{
                      'form-control': true,
                      'input-error': collectionLegalStep.startDate<0
                    }" [(ngModel)]="collectionLegalStep.startDate" />
              </div>
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>
                  {{
                  "collections.collection-dashboard.after" | translate
                  }}:
                </label>
                <span class="text-danger"> * </span>
                <select [ngClass]="{
                    'form-control': true,
                    'input-error': !collectionLegalStep.afterDate
                  }" [(ngModel)]="collectionLegalStep.afterDate">
                  <option *ngFor="let coll of afterCollection" [value]="coll.collName">
                    {{ coll.collName }}
                  </option>
                </select>
              </div>

              <div class="position-relative form-group col-4 col-md-4 py-2" *ngIf="collectionLegalStep.stepType === 'group'">
                <label>{{
                  "collections.collection-dashboard.autoforceStepDelay"
                  | translate
                  }}:</label>
               
                    <input type="number" class="form-control" [(ngModel)]="collectionLegalStep.forceStepDelay" />

              </div>
              <style></style>

              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{
                  "collections.collection-dashboard.documents"
                  | translate
                  }}:</label>


                <p-multiSelect [options]="settingLegalDocumentsByProduct" [(ngModel)]="collectionLegalStep.documents"
                  optionLabel="settingDocumentTypeDTO.code" ></p-multiSelect>
              </div>

              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{
                  "sidebar.legal_collection_participants" | translate
                  }}:</label>
                <ngx-select-dropdown (change)="getListOfThirdParty($event, i)"
                  [(ngModel)]="selectedParticipantsLegal[i]" [multiple]="true" [options]="participantsLegal"
                  [config]="configParticipants">
                </ngx-select-dropdown>
              </div>
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{"collections.collection-dashboard.participants"| translate}}:</label>
                <ngx-select-dropdown tabindex="0" [multiple]="true" [(ngModel)]="
                collectionLegalStep.participants
                    " [options]="optionsGroupUsers" [config]="configCollectionParticipants" class="test">
                </ngx-select-dropdown>
              </div>
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{ 'setting.charge_fees' | translate }}</label>

                <p-multiSelect [options]="chargeFees" [(ngModel)]="collectionLegalStep.listChargeFees"
                  optionLabel="label"></p-multiSelect>
              </div>
              <div *ngIf="serviceSMS" class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{ "setting.SMSTemplate" | translate }}</label>
                <select [ngClass]="{'form-control': true}"
                  [(ngModel)]="collectionLegalStep.codeAcmTemplateSms"
                  >
                  <option *ngFor="let sms of settingSMS" [value]="sms.codeSMSEvent">
                    {{ sms.codeSMSEvent }}
                  </option>
                </select>
              </div>

              <div class="position-relative form-group col-4 col-md-4 mt-3">
                <mat-checkbox [(ngModel)]="collectionLegalStep.generationTask">{{
                  'loan_workflow_setting.generation_task' | translate }} </mat-checkbox>
              </div>
              <div *ngIf="i === 0">
                <h5 class="text-primary text-uppercase px-4 pt-3">
                  {{
                  "collections.collection-dashboard.conditions"
                  | translate
                  }}
                </h5>
                <div class="px-3">
                  <hr class="hr" />
                </div>
                <div class="row">
                  <div class="position-relative form-group col-4 col-md-4 py-2">
                    <label>{{ "loan.loan_amount" | translate }}:</label>
                    <span class="text-danger"> * </span>
                    <input type="number" class="form-control" [(ngModel)]="collectionLegalStep.amount" />

                  </div>
                  <div class="position-relative form-group col-4 col-md-4 py-2">
                    <label>{{
                      "collections.collection-dashboard.unpaid_amount"
                      | translate
                      }}:</label>
                    <span class="text-danger"> * </span>
                    <input type="number" class="form-control" [(ngModel)]="collectionLegalStep.unpaidAmount" />
                  </div>
                  <div class="position-relative form-group col-4 col-md-4 py-2">
                    <label>{{
                      "collections.collection-dashboard.late_payment_days"
                      | translate
                      }}:</label>
                    <span class="text-danger"> * </span>
                    <input type="number" [ngClass]="{
                          'form-control': true,
                          'input-error': !collectionLegalStep.lateDate
                        }" [(ngModel)]="collectionLegalStep.lateDate" />
                  </div>
                </div>
              </div>
              <h5 class="text-primary text-uppercase px-4 pt-3">
                {{
                "collections.collection-dashboard.reminder" | translate
                }}
              </h5>
              <div class="row">
              <div class="px-3">
                <hr class="hr" />
              </div>
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{
                  "collections.collection-dashboard.reminder" | translate
                  }}</label>
                <input type="number" class="form-control" [(ngModel)]="collectionLegalStep.reminder" />
              </div>
              <div class="position-relative form-group col-4 col-md-4 py-2">
                <label>{{
                  "collections.collection-dashboard.reminder_sup"
                  | translate
                  }}</label>
                <input type="number" class="form-control" [(ngModel)]="collectionLegalStep.reminderSup" />
              </div>
              </div>
              <div class="row">
                <div class="position-relative form-group col-12 ">
                  <app-udf-step-workflow-setting [idWorkflowStep]="collectionLegalStep.idCollectionStep"
                  [workflowStepUdfGroupe]="collectionLegalStep.workflowStepUdfGroupe"
                  type="3"></app-udf-step-workflow-setting>

                 <app-generic-wf-setting-workflow  [orderWf]="collectionLegalStep.order" [idWorkFlow]="collectionLegalStep.idCollectionStep"
                 [category]="'LEGAL'" ></app-generic-wf-setting-workflow>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-actions-pane-right ACM-header-right-{{translate.currentLang}}">
        <button class="btn btn-primary text-white" (click)="saveLegalCollection('LEGAL')">
          {{ "button.save" | translate }}
        </button>
    </div>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div dir="{{getDirection()}}" [ngClass]="{'text-end': translate.currentLang === 'ar'}">
    <form class="position-relative col-xl-12 px-0 col-md-12" (ngSubmit)="onSubmit()" [formGroup]="duplicateGroup">
      <div class="modal-header py-2">
        <h4 class="modal-title">{{ 'setting.duplicate-setting' | translate }}</h4>
        <button type="button" class="close ACM-modal-header-{{translate.currentLang}}" aria-label="Close"
          (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="position-relative col-xl-12 col-md-12">
          <label>{{'setting.product' | translate}}</label>
          <select class="form-control" id="selectedValue" formControlName="productValues"
          [(ngModel)]="productEntityForDuplicate" required>
          <option [value]="null" default disabled>{{'setting.select_product' | translate}}</option>
          <option *ngFor="let productEntity of productEntitys" [ngValue]="productEntity">
            {{productEntity.description}}
          </option>
        </select>
        </div>
        <div class="position-relative form-group">
          <div>
            <div class="form-group form-check">
              <input class="form-check-input" id="exampleCustomCheckboxReject" type="checkbox" formControlName="confirm"
                (change)="changeChecboxReject()">
              <label class="form-check-label" for="exampleCustomCheckboxReject">{{'button.confirm_checkbox' |
                translate}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer py-1">
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">{{'button.close' |
          translate}}</button>
        <button type="submit" class="btn btn-success text-white">{{ 'button.validate' | translate
          }}</button>
      </div>
    </form>
  </div>
</ng-template>

