 <!--Collection Process-->
<div  class="card-shadow-primary profile-responsive card-border mb-1 card" style = "position: -webkit-sticky;  position: sticky; top: 50px;" >
    <div class="dropdown-menu-header">
      <div class="dropdown-menu-header-inner bg-danger">
        <div class="menu-header-image" style="background-image: url('../../../../../assets/images/sidebar/city1.jpg')">
        </div>
        <div class="menu-header-content btn-pane-right">
          <div class="avatar-icon-wrapper mx-2 avatar-icon-xl">
            <div class="icon-wrapper rounded-circle">
              <div class="icon-wrapper-bg bg-white opacity-10"></div>
              <i class="pe-7s-way text-danger"></i>
            </div>
          </div>
          <div>
            <h5 class="menu-header-title" *ngIf="type!=='PROSPECTION'"> Collection Process</h5>
            <h5 class="menu-header-title" *ngIf="type==='PROSPECTION'"> Prospection Process</h5>

          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="vertical-time-simple vertical-without-time vertical-timeline
        vertical-timeline--animate vertical-timeline--one-column pt-0 ACM-process-vertical-{{translate.currentLang}}"
        *ngFor="let collectionProcess of collectionProcessEntitys">
        <div [ngClass]=" {
                  'dot-success vertical-timeline-element' : (collectionProcess.orderEtapeProcess < orderProcess || collection.status === 1),
                  'dot-warning vertical-timeline-element': (collectionProcess.orderEtapeProcess === orderProcess  && date >= collection.availableDate && collection.status !== 1)
                  }">
          <div>
            <span class="vertical-timeline-element-icon bounce-in ACM-process-icon-{{translate.currentLang}}"></span>
            <div class="row vertical-timeline-element-content ACM-process-title-{{translate.currentLang}} bounce-in">
              <div class="col-9">
                <p class="timeline-title font-weight-bold" [ngClass]=" {
                  'text-success' : (collectionProcess.orderEtapeProcess < orderProcess || collection.status === 1),
                  'text-warning' :((collectionProcess.orderEtapeProcess === orderProcess &&  date >= collection.availableDate && collection.status !== 1)),
                  'opacity-6' : !(collectionProcess.orderEtapeProcess >= orderProcess)
                  }">
                  {{collectionProcess.libelle }}
                </p>
              </div>
              <div class="col-2" *ngIf="collectionProcess.orderEtapeProcess === orderProcess  &&  date < collection.availableDate ">
                <div class="badge bg-warning text-white ml-2">
                  {{ collection.availableDate | date:'dd/MM/yyyy' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

