<div class="accordion mb-1" id="accordionExample">
  <div class="card">
    <div class="card-header d-flex justify-content-between" id="headingOne" data-target="#collapseCustomerNote"
      aria-expanded="true" aria-controls="collapseCustomerNote" (click)="toggleCollapse()">
      <div *ngIf="category==='LEGAL'">
        <i class="lnr-book text-secondary px-2"></i>
        {{'collections.collection-dashboard.legal_collection_note'|translate}}
      </div>

      <div *ngIf="category==='COLLECTION'">
        <i class="lnr-book text-secondary px-2"></i>
        {{'collections.collection-dashboard.collection_note'|translate}}
      </div>

      <div *ngIf="category==='CLAIM'">
        <i class="lnr-book text-secondary px-2"></i>
        {{'collections.collection-dashboard.note'|translate}}
      </div>
      <div *ngIf="category==='PROSPECTION'">
        <i class="lnr-book text-secondary px-2"></i>
        {{'prospection.note'|translate}}
      </div>
    </div>
    <div id="collapseCustomerNote" [ngClass]="(expanded===true)?'collapse show':'collapse'"
      aria-labelledby="headingOne">
      <div *ngIf="collectionNoteHistoryArray.length > 0">
        <div class="card-body">

          <!-- bouton popup-->
          <div *ngIf="showAddButton" class="page-title-actions mb-3 d-flex justify-content-end">
            <button class="btn-shadow d-inline-flex align-items-center btn btn-primary" type="button"
              (click)="openLarge(content6)">

              {{'button.add' | translate}}
            </button>
          </div>

        </div>
          <!-- tableau notes -->
          <div class="table-responsive">
            <table class="mb-0 table green">
              <thead>
                <tr>
                  <th>{{'customer_decision.Date'| translate }}</th>
                  <th>{{'customer_decision.addedBy'| translate }}</th>
                  <th class="text-center">{{'step'| translate}}</th>
                  <th>{{'customer_decision.Note'| translate }}</th>
                  <th class="text-center">{{'button.details'| translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let loanNoteHistory of collectionNoteHistoryArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index ">
                  <td class="ACM-table-historyNote-td-1">
                    {{loanNoteHistory.dateInsertion | date : 'dd/MM/yyyy hh:mm a'}}
                  </td>
                  <td class="ACM-table-historyNote-td-2">
                    {{loanNoteHistory.insertBy}}
                  </td>
                  <td class="ACM-table-historyNote-td-3 text-center">
                    <div class="badge bg-info ng-star-inserted">
                      {{loanNoteHistory.action}}
                    </div>
                  </td>
                  <td class="ACM-table-historyNote-td-4 text-truncate ACM-table-historyNote-comments" [innerHTML]="displayComment(loanNoteHistory.comment)">
                   <div>
                    {{displayComment(loanNoteHistory.comment)}}
                   </div>
                  </td>
                  <td class="ACM-table-historyNote-td-5 text-center">
                    <button class="btn btn-shadow btn-primary " (click)="displayNote(loanNoteHistory, content6)">
                      <i class="pe-7s-more btn-icon-wrapper"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div class="card-footer pb-0">
          <div class="row no-gutters w-100">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <ngb-pagination [collectionSize]="collectionNoteHistoryArray.length" [(page)]="page" [pageSize]="pageSize"
                size="sm" [maxSize]="3" [boundaryLinks]="true">
              </ngb-pagination>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
              <div class="d-flex justify-content-lg-end">
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                  <option selected [ngValue]="5">{{'pagination.5_item'| translate }}</option>
                  <option [ngValue]="10">{{'pagination.10_item'| translate }}</option>
                  <option [ngValue]="20">{{'pagination.20_item'| translate }}</option>
                  <option [ngValue]="50">{{'pagination.50_item'| translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="collectionNoteHistoryArray.length === 0">
        <div class="card-body">
          <div *ngIf="showAddButton" class="page-title-actions mb-3 d-flex justify-content-end">
            <button class="btn-shadow d-inline-flex align-items-center btn btn-primary" type="button"
              (click)="openLarge(content6)">

              {{'button.add' | translate}}
            </button>
          </div>
          <h6 style="color: red;" class="pt-3">{{ 'customer_decision.missing_customer_note' | translate }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!--popup-->
<ng-template #content6 let-c="close" let-d="dismiss">
  <div dir="{{getDirection()}}" [ngClass]="{'text-end': translate.currentLang === 'ar'}">
    <!--form add new note-->
    <form [formGroup]="popupForm">
      <div class="modal-header py-2">
        <h4 class="modal-title">{{'customer_decision.Note'| translate }}</h4>
        <button type="button" class="close ACM-modal-header-{{translate.currentLang}}" aria-label="Close"
          (click)="c(reset())">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container p-3">
        <!--Date-->
        <div class="col-xl-10">
          <label> <strong>{{'customer_decision.date'| translate }} </strong> :
            {{ contactDate | date : 'dd/MM/yyyy'}}</label>
        </div>

        <!--input comments-->
        <div class="col-xl-12">
          <label for="comments"><strong>{{'customer_decision.comment'| translate }} </strong> </label>
          <angular-editor [config]="configEditor"
            formControlName="comments">
          </angular-editor>
        </div>
      </div>
      <!--buttons-->
      <div class="modal-footer py-1">
        <button class="mb-2 mx-2 btn btn-outline-danger" (click)="reset()">{{'button.cancel' | translate}}</button>
        <button   [hidden]="showNote"  (click)="addNewNote()" class="btn btn-primary">{{'button.add' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>
