<div  *ngIf="documentsExist | async" class="accordion mb-1" id="accordionExample">
  <div class="card">
    <div class="card-header d-flex justify-content-between" id="headingOne"
         data-target="#collapseListDocument" aria-expanded="true" aria-controls="collapseListDocument"
         (click)="toggleCollapse()">
      <div>
        <i class="lnr-file-empty px-2"></i>
        {{'upload_document.All_documents'| translate }}
      </div>
      <div>
        <i [ngClass]="(expanded===true)?'lnr-chevron-up text-secondary':'lnr-chevron-down text-secondary'"></i>
      </div>
    </div>
    <div id="collapseListDocument" [ngClass]="(expanded===true)?'collapse show':'collapse'"
         aria-labelledby="headingOne">
      <div>
        <ngx-loading [show]="loading"
                     [config]="{animationType: ngxLoadingAnimationTypes.circle, primaryColour: primaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"></ngx-loading>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">{{'upload_document.Title'| translate }}</th>
            <th scope="col">{{'upload_document.Name'| translate }}</th>
            <th scope="col">{{'upload_document.Description'| translate }}</th>
            <th scope="col">{{'upload_document.Date'| translate }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th class="text-center ACM-document-table-column-button">{{ 'upload_document.version-history' | translate }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of documents ; let index = index">
            <td [style.background-color]="checkIndexDocuments(index) ? '#dee2e6' : ''" scope="row">{{d.titre}}</td>
            <td  [style.background-color]="checkIndexDocuments(index) ? '#dee2e6' : ''">{{d.name}}</td>
            <td [style.background-color]="checkIndexDocuments(index) ? '#dee2e6' : ''">{{d.description}}</td>
            <td  [style.background-color]="checkIndexDocuments(index) ? '#dee2e6' : ''"> {{d.dateCreation | date: 'dd/MM/yyyy'}}</td>
            <td  [style.background-color]="checkIndexDocuments(index) ? '#dee2e6' : ''">
              <button class="btn btn-warning" (click)="view(d.idDocumentGED,index)">
                <i class="pe-7s-look btn-icon-wrapper text-white"></i>
              </button>
            </td>
            <td  [style.background-color]="checkIndexDocuments(index) ? '#dee2e6' : ''"></td>
            <td  [style.background-color]="checkIndexDocuments(index) ? '#dee2e6' : ''" class="text-center">
              <button class="mb-2 mx-2 btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-focus" type="button"
                (click)="openLarge(content,d)">
                <i class="pe-7s-folder btn-icon-wrapper"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div dir="{{getDirection()}}" [ngClass]="{'text-end': translate.currentLang === 'ar'}">
    <!--form add new note-->
    <form>
      <div class="modal-header py-2">
        <h4 class="modal-title">{{'upload_document.document-history'| translate }}</h4>
        <button type="button" class="close ACM-modal-header-{{translate.currentLang}}" aria-label="Close"
          (click)="c(reset())">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container p-3">
        <!--Date-->
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-hover">
            <thead>
              <tr>
                <th class="text-center ACM-document-table-column">{{'upload_document.Name'| translate }}</th>
                <th class="text-center ACM-document-table-column">{{'upload_document.Date'| translate }}</th>
                <th class="text-center ACM-document-table-column">{{'customer_decision.addedBy'| translate }}
                </th>
                <th class="text-center ACM-document-table-column-button"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hd of historyDocuments; let i = index">
                <td>
                  <div class="text-center">
                    {{hd.name}}
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    {{hd.dateCreation | date : 'dd/MM/yyyy hh:mm a'}}
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    {{hd.insertBy}}
                  </div>
                </td>


                <td class="text-center px-0">
                  <button class="btn btn-warning" (click)="viewDocumentHistory(hd.file,hd.idDocumentGED)">
                    <i class="pe-7s-look btn-icon-wrapper text-white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!--buttons-->
      <div class="modal-footer py-1">
        <button class="mb-2 mx-2 btn btn-outline-danger" (click)="reset()">{{'button.cancel' | translate}}</button>

      </div>
    </form>
  </div>
</ng-template>
