<app-page-title [heading]="'sidebar.loan_application'| translate " [icon]="'pe-7s-note2'" [account]="loan.accountNumber"
  [status]="loan?.statutWorkflow" [loanApplicationStatus]="loan?.loanApplicationStatus"></app-page-title>
<div class="row">
  <div class="col-md-9 col-xl-9 px-1">

    <app-edit-loan [completeLoanData]="false" (updateL)="changeFormsLoan($event)"
      (updateLoan)="checkloan($event)"></app-edit-loan>
    <app-customer-notes  [expanded]="true"></app-customer-notes>
    <app-event-table  [expanded]="true" [source]="'LOAN'"></app-event-table>
    <app-conditional-approve-list *ngIf="loan.etapeWorkflow > 23 || !isOfflineModeEnabled()" [expanded]="true"></app-conditional-approve-list>
    <app-other-information-loan *ngIf = "loan.otherInformations != null" [expanded]="true"></app-other-information-loan>

    <div class="d-block text-end px-2">
      <button class="mb-2 mx-2 btn btn-outline-danger" (click)="exit()">{{'button.exit' | translate}}</button>
      <button class="mb-2 mx-2 btn btn-secondary text-white" (click)="previousStep()">{{'button.previous' |
        translate}}</button>
      <button class="mb-2 mx-2 btn btn-success "
        *ngIf="(!loanSharedService.habilitationButton('SAVE',currentPath) && loan.isOwnerOrValidator) || isOfflineModeEnabled()"
        type="submit" (click)="submitLoan()" >{{'button.save'| translate
        }}</button>
      <button class="mb-2 mx-2 btn btn-primary"
        *ngIf="(loan?.parentId === 0 && !loanSharedService.habilitationButton('NEXT',currentPath) && loan.isOwnerOrValidator) || isOfflineModeEnabled()"
         (click)="nextStep()">{{'button.next' | translate}}</button>
      <!-- Child Loan Review -->
      <button class="mb-2 mx-2 btn btn-primary" *ngIf="((loan.parentId !== 0) && (loan.etapeWorkflow === 16))"
        (click)="nextStep()">{{'button.next' | translate}}</button>
      <button class="mb-2 mx-2 btn btn-primary "
        *ngIf=" displayButtonExecuteApi && (!loanSharedService.habilitationButton('EXECUTE_API',currentPath) && loan.isOwnerOrValidator) && !isOfflineModeEnabled()"
        type="submit" (click)="executeThirdPartyApi()" >{{('Execute_api'|translate)}} </button>
    </div>

  </div>
  <div class="col-md-3 col-xl-3 px-1">
    <app-loan-process [etapeProcess]="currentStatus"></app-loan-process>
  </div>
</div>
