<div class="accordion mb-1" id="accordionExample">
  <div class="card">
    <div class="card-header d-flex justify-content-between" id="headingCollapseVersionHistory"
      data-target="#collapseVersionHistory" aria-expanded="true" aria-controls="collapseVersionHistory"
      (click)="toggleCollapse()">
      <div *ngIf="category==='COLLECTION'">
        <i class="lnr-calendar-full text-secondary px-2"></i>
        {{'collections.collection_document.title'| translate }}
      </div>

      <div *ngIf="category==='LEGAL'">
        <i class="lnr-calendar-full text-secondary pr-2"></i>
        {{'collections.collection_document.title_legal_documents'| translate }}
      </div>

      <div *ngIf="category==='PROSPECTION'">
        <i class="lnr-calendar-full text-secondary pr-2"></i>
        {{'prospection.title_prospection_documents'| translate }}
      </div>
    </div>
    <div id="collapseVersionHistory" [ngClass]="(expanded===true)?'collapse show':'collapse'"
      aria-labelledby="headingOne">
      <div *ngIf="loanDocumentEntitys.length > 0">
        <div class="">
          <div class="position-relative">
            <div class="table-responsive">
              <table class="align-middle mb-0 table table-hover">
                <thead>
                  <tr>
                    <th>{{'collections.collection-dashboard.name_document'| translate}}</th>
                    <th>{{'collaterol.description'| translate}}</th>
                    <th>{{'visit.insert_by'| translate}}</th>
                    <th>{{'step'| translate}}</th>
                    <th>{{'date'| translate}}</th>
                    <th class="text-center ACM-document-table-column-button"></th>
                    <th class="text-center ACM-document-table-column-button">{{ 'upload_document.version-history' | translate }}
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d  of loanDocumentEntitys; let i = index">

                    <td>{{d.name}}</td>
                    <td>{{d.description}}</td>
                    <td> {{d.insertBy}}</td>
                    <td> {{d.collectionStepName}} </td>
                    <td> {{d.dateCreation| date:'dd/MM/yyyy' }}</td>

                    <td class="text-center px-0">
                      <button class="btn btn-warning" (click)="view(d.file,d.idDocumentGED)">
                        <i class="pe-7s-look btn-icon-wrapper text-white"></i>
                      </button>
                    </td>
                    <td class="text-center">
                      <button class="mb-2 mx-2 btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-focus" type="button"
                        (click)="openLarge(content,d)">
                        <i class="pe-7s-folder btn-icon-wrapper"></i>
                      </button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="loanDocumentEntitys.length === 0">
        <div class="card-body">
          <h6 style="color: red;" class="pt-3">{{ 'collections.collection_document.missing_setting' | translate }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div dir="{{getDirection()}}" [ngClass]="{'text-end': translate.currentLang === 'ar'}">
    <!--form add new note-->
    <form>
      <div class="modal-header py-2">
        <h4 class="modal-title">{{'upload_document.document-history'| translate }}</h4>
        <button type="button" class="close ACM-modal-header-{{translate.currentLang}}" aria-label="Close"
          (click)="c(reset())">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container p-3">
        <!--Date-->
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-hover">
            <thead>
              <tr>
                <th class="text-center ACM-document-table-column">{{'upload_document.Name'| translate }}</th>
                <th class="text-center ACM-document-table-column">{{'upload_document.Date'| translate }}</th>
                <th class="text-center ACM-document-table-column">{{'customer_decision.addedBy'| translate }}
                </th>
                <th class="text-center ACM-document-table-column-button"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hd of historyDocuments; let i = index">
                <td>
                  <div class="text-center">
                    {{hd.name}}
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    {{hd.dateCreation | date : 'dd/MM/yyyy hh:mm a'}}
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    {{hd.insertBy}}
                  </div>
                </td>


                <td class="text-center px-0">
                  <button class="btn btn-warning" (click)="view(hd.file,hd.idDocumentGED)">
                    <i class="pe-7s-look btn-icon-wrapper text-white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!--buttons-->
      <div class="modal-footer py-1">
        <button class="mb-2 mx-2 btn btn-outline-danger" (click)="reset()">{{'button.cancel' | translate}}</button>

      </div>
    </form>
  </div>
</ng-template>